* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: Roboto;
    color: rgb(78, 78, 78);
    font-style: normal;
    line-height: normal;
    /* background-color: black; */
    text-decoration-line: none;
}


body {
    background-image: url('../img/Tela_Criar_conta_desktop.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: max-content;
    height: max-content;
    overflow: hidden;
}

header {
    z-index: 1;
    margin-top: 30px;
    margin-left: 55px;
    background-image: url('../img/logo.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 180px;
    height: 84px;
}

section {
    z-index: 2;
    width: 450px;
    height: 600px;
    margin-top: -30px;
    margin-left: 900px;
    padding: 40px;
    border-radius: 32px;
    background: rgba(255, 255, 255, 0.75);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    text-align: center;
    align-items: center;
    align-content: center;
}

h1 {
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 347.626px;
    height: 132.383px;
    flex-shrink: 0;
}

.fota {
    float: left;
    z-index: 1;
    margin-top: 150px;
    margin-left: -500px;
    background-image: url('../img/foto.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 179px;
    height: 180px;
}

.fota i {
    float: left;
    z-index: 2;
    margin-top: 120px;
    margin-left: 120px;
    background-image: url('../img/icone.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
}

.criar {
    text-align: center;
    margin-top: 80px;
}

p {
    font-size: 10px;
}

.criar a {
    font-size: 19px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.50);
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.senha {
    margin-top: 80px;
}

.cadastro {
    margin-top: -100px;
}

.login {
    margin-top: 60px;
    margin-bottom: 30px;
}

.login i {
    font-size: 35px;
}

.linha {
    margin-left: 28px;
    background-color: darkgray;
    width: 305px;
    height: 0.1px;
}

.login ::placeholder {
    color: gray;
}

input {
    background-color: rgba(0, 0, 0, 0.01);
    outline-style: none;
    border: none;
    width: 320px;
    font-family: Roboto;
    font-size: 20px;
}

.botao {
    margin-top: 50px;
    position: relative;
    width: 70px;
    margin-left: 28px;
    text-align: center;

}

.botao a {
    color: #ffffff;
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

#botao div {
    background-color: rgb(19, 104, 30);
    position: absolute;
    width: 308px;
    height: 50px;
    border-radius: 8px;
    z-index: 1;
    border: 0;
    padding: 10px;
    top: 100%;
    transform: translateY(-50%);
}


@media only screen and (max-width: 767px) {
    body {
        width: 100%;
        height: 100vh;

    }

    section{
        text-align: center;
        margin-top: 30px;
        margin-left: 0;
        width: 100%;
        height: 90vh;
        padding: 10px;
        padding-left: 20px;
    }

    .login{
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .cadastro{
        margin-top:10px ;
    }

    .fota {
        float:inline-end;
        z-index: 1;
        margin-top: 45px;
        margin-left: 0px;
        margin-right: 150px;
        margin-bottom: 20px;
        background-image: url('../img/foto.png');
        background-size: cover;
        background-repeat: no-repeat;
        width: 100px;
        height: 101px;
    }
    
    .fota i {
    
        z-index: 2;
        margin-top: 80px;
        margin-left: 70px;
        background-image: url('../img/icone.png');
        background-size: cover;
        background-repeat: no-repeat;
        width: 30px;
        height: 30px;
    }

    h1{
        float: left;
        margin-left: 30px;
        margin-top: -170px;
        width: 300px;
        height: 50px;
    }


}