* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: Irish Grover;
}

body {
    background-image: url(../img/abbr-claro.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 25px;
}

/*inicio configurando perfil*/
.profile {
    text-align: center;
    padding: 25px;
}

.profile img {
    width: 200px;
    /* margin-left: -30px; */
    border-radius: 100%;

}

.profile p {
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
    /* margin-left: -30px; */
}
/*final configurando perfil*/
.list ul {
    /* background-color: rgba(rgba(255, 255, 255, 0.50)); */

    position: relative;
    text-align: center;
    /* margin-left: -30px; */
    margin-top: 10px;
}

.list li {
    color: #ffffffc1;
    font-family: Irish Grover;
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
    width: auto;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.list li:hover{
    border: 5px rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
}

.icons a {
    color: #ff880052;
    font-size: 60px;
}

.icons {
    width: 200px;
    height: 30px;
    position: relative;
    align-items: center;
    margin: 100px 175px;
}

.icons i:hover{
    transform: scale(1.3);
    transition: 0.4s ease;
}

a {
    text-decoration: none;
    color: #FFF;
}

.botao{
    position: relative;
    width: 70px;
    margin: 0 40%;
}

/*#botao {
    position: relative;
    width: 70px;
    margin: 0 220px;

    position: absolute;
}*/

#btn{
    left: 0;
    transition: left 0.5s ease-in-out;
}

#botao div {
    background-image: url(../img/icone1.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 45px;
    height: 45px;
    z-index: 1;
    border-radius: 50%;
    border: 0;
    padding: 10px;
    top: 50%;
    transform: translateY(-50%);

}

#botao .btn:hover {
    outline: 5px solid rgba(201, 123, 123, 0.7);
    transform: scale(1);
    transition: 0.4s ;
}

/*#botao span {
    display: block;
    width: 100px;
    height: 40px;
    border-radius: 100px;
    background: rgba(48, 48, 48, 0.60);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    border: 1px solid rgba(48, 48, 48, 0.60);

}*/

span {
    position: relative;
    display: flex;
    width: 100px;
    height: 40px;
    border-radius: 100px;
    background: rgba(48, 48, 48, 0.60);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    border: 1px solid rgba(48, 48, 48, 0.60);

}

/* perfil escuro*/



.escuro {
    color: var(--text-color) !important;
    background: var(--background);

    background-repeat: no-repeat;
    background-size: cover;
}

.escuro .list li {
    color: #000000c1;
    font-family: Irish Grover;
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
    width: auto;
    height: 30px;
    background-color: rgba(147, 147, 147, 0.5);
    border-radius: 10px;
}

.escuro .list ul {
    /* background-color: rgba(rgba(255, 255, 255, 0.50)); */

    position: relative;
    text-align: center;
    /* margin-left: -30px; */
    margin-top: 10px;
}

.escuro #botao div {
    background-image: url(../img/icone2.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 45px;
    height: 45px;
    z-index: 1;
    border-radius: 50%;
    border: 0;
    padding: 10px;
    top: 50%;
    transform: translateY(-50%);
}