* {
    padding: 0;
    margin: 0;
    font-family: "Comfortaa";
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.logo {
    back;
    font-size: 30px;
    border-radius: 9px;
    background-color: hotpink;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 3%;
    padding-left: 3%;
    font-size: 20px;
}

.text{
    background-color: rgb(218, 203, 203);
    border-radius: 5px;
    margin-left: 10px;
    padding-top: 1%;
    width: 80%;
}

.box {
    border-radius: 5px;
    background-color: #d3d3d3;
}

section{
    padding-top: 20px;
    padding-left: 10px;
    display: inline-flex ;
    margin-left: 15%;
    margin-bottom: 25px;
    margin-right: 20%;
}

a{
    padding: 1%;
    width: 30%;
}

img{
    width: 29%;
    float: auto;
    box-shadow: 10px 10px 10px rgb(1, 1, 27) ;
    margin-right: 10px ;
    border-radius: 10%;

}

body {
    /*background-color: #F2F2F2;*/
    background-image: url(https://i.pinimg.com/564x/d6/5b/19/d65b19730e4eb6f1e84635a4acd9ee5b.jpg);
    background-size: 8%;
}

header {
    display: flex;
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    align-items: center;
    justify-content: space-between;
    width: 98%;
}
